/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

@import url(https://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

.ocks-org body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
  padding: 1rem;
}

.ocks-org header,
.ocks-org footer,
.ocks-org aside,
.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  font-family: "PT Sans", sans-serif;
}

.ocks-org h1,
.ocks-org h2,
.ocks-org h3,
.ocks-org h4 {
  color: #000;
}

.ocks-org header,
.ocks-org footer {
  color: #636363;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 0.3em 0 0.1em 0;
}

h2 {
  margin-top: 2em;
}

h1,
h2 {
  text-rendering: optimizeLegibility;
}

h2 a[name],
h2 a[id] {
  color: #ccc;
  padding-right: 0.3em;
}

header,
footer {
  font-size: small;
}

.ocks-org header aside,
.ocks-org footer aside {
  float: left;
  margin-right: 0.5em;
}

.ocks-org header aside:after,
.ocks-org footer aside:after {
  padding-left: 0.5em;
  content: "/";
}

footer {
  margin-top: 6em;
}

h1 ~ aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 180px;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

body > p,
li > p,
div > p {
  line-height: 1.5em;
}

body > p,
div > p {
  width: 720px;
}

body > blockquote {
  width: 640px;
}

blockquote q {
  display: block;
  font-style: oblique;
}

ul {
  padding: 0;
}

li {
  width: 690px;
  margin-left: 30px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre,
code,
textarea {
  font-family: "Menlo", "Menlo Regular", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em 0;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup,
sub {
  line-height: 0;
}

q:before {
  content: "â€œ";
}

q:after {
  content: "â€";
}

blockquote q {
  line-height: 1.5em;
  display: inline;
}

blockquote q:before,
blockquote q:after {
  content: "";
}

h3,
h4,
p,
ul {
  padding-left: 1.2rem;
}

.banner {
  padding: 0;
}

#toc {
  margin-top: 0;
}

@media only screen and (max-device-width: 1023px) {
  .ocks-org body {
    font-size: 72%;
    padding: 0.5rem;
  }

  body > p,
  div > p {
    width: 90vw !important;
  }

  li {
    width: 82vw;
  }

  h3,
  h4,
  p,
  ul {
    padding-left: .7rem;
    width: 90vw;
  }

  h1 {
    font-size: 2rem;
  }

  pre {
    padding-left: 0.5rem;
  }

  .banner,
  h1,
  img {
    max-width: calc(100vw - 2em);
    min-width: calc(100vw - 2em);
  }
}
